body {
  text-align: center;
  background: lightgrey;
}
.app {
  margin-left: 1em;
}

div.timeleft {
  margin: 2em;
  text-align: right;
}

div.letter {
  display: inline;
  background: white;
  color: blue;
  margin-left: 1em;
  padding: 1em;
  height: 100%;
  font-weight: bold;
}

div.letters {
  margin: 1em;
  padding: 1em;
  background: blue;
  min-height: 4em;
}

div.inner {
  padding: 1em;
}

div.input {
  margin: 2em;
  display: inline;
}

input.word {
  margin-right: 1em;
}

div.extra {
  margin: 2em;
}


div.triedWords {
  width: 10%;
  margin-left: 45%;
  margin-top: 1em;
  border-color: darkgrey;
  border-style: dashed;
}

ul.triedWords {
  list-style: none;
  padding: 0;
}

button {
  padding: 1em;
  margin: 1em;
}
